html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

#snakeGame {
  border: 2px solid black;
  margin-left: 10px;
  margin-top: 10px;
}

#wrapper {
  display: flex;
  flex-direction: row;
}

#info {
  margin: 70px
}
